<h1 class="title-format-fluturas">Fluturasi salarizare</h1>
<div class="mat-z8 card">

 <div *ngFor="let fluturas of fluturasi">

  <h2>Fluturas pentru marca {{ fluturas.Marca }}</h2>

  <p>Zile lucratoare luna: {{fluturas['Zile lucratoare luna'] }}</p>
  <p>Zile lucrate: {{fluturas['Zile lucrate'] }}</p>
  <p>Zile CO: {{fluturas['Zile CO'] }}</p>
  <p>Zile CFS: {{fluturas['Zile CFS'] }}</p>
  <p>Indemnizatie CO: {{fluturas['Indemnizatie CO'] }}</p>
  <p>Salariu zile lucrate: {{fluturas['Salariu zile lucrate'] }}</p>
  <p>Alte drepturi: {{fluturas['Alte Drepturi'] }}</p>
  <p>Tichete masa: {{fluturas['Tichete masa'] }}</p>
  <p>Venit brut: {{fluturas['Venit brut'] }}</p>
  <p>Contributie CAS: {{fluturas['Contributie CAS'] }}</p>
  <p>Contributie CASS: {{fluturas['Contributie sanatate'] }}</p>
  <p>Impozit: {{fluturas['Impozit'] }}</p>
  <p>Venit net: {{fluturas['Venit net'] }}</p>
  
   
</div>


</div>
  










