<h1 class="title-format">Aplicație Salarizare</h1>
<button class="button-format"[routerLink]="['/aplicatie_salarizare/date_personale']" ><span>Date Personale</span></button>
<button class="button-format"[routerLink]="['/aplicatie_salarizare/date_angajare_unitate']" ><span>Date Angajare Unitate</span></button>
<button class="button-format"[routerLink]="['/aplicatie_salarizare/date_salariale']" ><span>Date Salariale</span> </button>
<button class="button-format"[routerLink]="['/aplicatie_salarizare/pontaj']" ><span>Pontaj</span> </button>
<button class="button-format"[routerLink]="['/aplicatie_salarizare/date_salariale/fluturasi']" ><span>Fluturasi</span></button>

